@use "setting" as set;
@use "variables" as var;

.c-wrapper {
  max-width: 980px;
  padding: 0 4%;
}

.c-title--l--white {
  color: var.$colorWhite;
}

.c-title--l--black {
  color: rgba(var.$primaryFontColor, 0.7);
}

.c-title {
  font-size: clamp(4.2rem, -0.091rem + 21.45vw, 16rem);
  line-height: 1;
  font-weight: 700;
}

.c-title--s {
  margin-bottom: 40px;
  color: rgba(var.$primaryFontColor, 0.8);
}

.c-title--s--en {
  font-size: clamp(2.4rem, 0.545rem + 9.27vw, 7.5rem);
  display: block;
  line-height: 1;
}

.c-title--s--ja {
  font-size: clamp(1.8rem, 1.364rem + 2.18vw, 3rem);
}


// ボタン
.c-btn {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  position: relative;
  transform: translateX(-15%);
  

  @include set.mediaQuery(pc) {
    transform: translateX(-10%);
  }

  @include set.mediaQuery(tab) {
    transform: translateX(-15%);
  }
}


// ボタンの矢印
.c-btn--arrow{
  position: absolute;
  top: 10px;
  right: -34px;
  z-index: 2000;
}


.c-btn--text {
  font-size: 1.8rem;
  z-index: 1000;
  color: rgba(var.$primaryFontColor, 0.8);
}

// ボタンの円
.c-btn--text::after{
  content: "";
  width: 80px;
  height: 80px;
  background-color: transparent;
  border: 1px solid rgba(var.$primaryFontColor, 0.7);
  border-radius: 50px;
  position: absolute;
  right: -10%;
  transition: 2s;
}

.c-btn--text:hover::after{
  background-color: rgba(var.$colorWhite, .7);
    transition: 1s;
    scale: 1.2;
    border: none;
    transition: 2s;
}


.c-btn--text:hover + .c-btn--arrow .c-btn--arrowImg {
  transform: translateX(10px);
  transition: transform 1s;
}

.c-btn--arrowImg{
  transition: 1s;
  width: 90px;
}

.c-btn--tabSize--margin {
  @include set.mediaQuery(sp) {
    margin-right: 10%;
  }
}

// workボタン（位置やホバー時の背景が違う）
.work .c-btn {
  position: absolute;
  bottom: 13%;
  right: 20%;
  z-index: 2200;

  @include set.mediaQuery(pc) {
    bottom: 5%;
  }

  @include set.mediaQuery(sp) {
    right: 23%;
  }
}
.work .c-btn--text::after{
  right:  -140%;
}
.work .c-btn--text:hover::after{
 background-color: rgba(var.$primaryColor, 0.8);
}
