$primaryColor: #dacfc5;
$primaryFontColor: #66645F;
$paleFontColor: #95928a;
$subColor: #f0ede9;
$colorWhite: #fcfaf9;
$colorBrown: #797163;
$border: #c1baa8;
$logoColor01: #867878;
$logoColor02:#808080;