@use "setting" as set;
@use "component";
@use "variables" as var;
@use "contact";

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}


body {
  font-size: 1.6rem;
  letter-spacing: .1em;
  line-height: 1.8;
  font-family: "athelas", "Noto Sans JP", sans-serif;
  color: var.$primaryFontColor;
  font-weight: 300;
}

img {
  max-width: 100%;
}

a:hover {
  opacity: .7;
}

.back {
  background-color: var.$primaryColor;
  position: relative;
  width: 100%;
}

// ローディングアニメーション
.load {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(var.$primaryColor, 0.95);
  z-index: 3000;
  transition: 0.5s ease-in-out;
}

.load__img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 480px;
}

@keyframes logoUpFade {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  100% {
    opacity: 0;
    transform: translate(-50%, -90%) scale(1.2);
  }
}


.load.close {
  opacity: 0;
  visibility: hidden;
  transition: 1s ease-in-out;
}

.load.close .load__img {
  animation: logoUpFade 1.2s ease-in-out forwards;
}

.header {
  height: 156px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  position: relative;
  border-bottom: 1px solid var.$border;
  margin-bottom: 8px;
}

.header__logoArea {
  @include set.mediaQuery(tab) {
    margin: 0 auto;
  }
}

.header__logo--img {
  width: 350px;
  height: auto;

  @include set.mediaQuery(sp) {
    width: 250px;
  }
}


.header__nav {
  @include set.mediaQuery(pc) {
    position: fixed;
    top: 0;
    right: -100%;
    width: 300px;
    height: 100vh;
    background-color: rgba(var.$primaryColor, 0.95);
    backdrop-filter: blur(10px);
    transition: right 0.3s ease;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1);

    &.active {
      right: 0;
    }
  }
}

.header__navList {
  display: flex;
  gap: 24px;

  @include set.mediaQuery(pc) {
    flex-direction: column;
    gap: 40px;
    align-items: center;
    width: 100%;
  }
}

.header__navItem {
  position: relative;
  color: var.$subFontColor;

  a {
    font-size: clamp(1.6rem, 1.455rem + 0.73vw, 2rem);
  }

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 1px;
    background-color: var.$subFontColor;
    transform: scaleX(0);
    transition: 1s;
  }

  &:hover::after {
    transform: scale(1);
    transition: 1s;
  }
}

@include set.mediaQuery(pc) {
  .header__navItem {
    width: 100%;
    text-align: center;

    a {
      font-size: 2rem;
      color: var.$primaryFontColor;
      font-weight: 500;
      display: block;
      padding: 15px 0;
      transition: all 0.3s ease;

      &:hover {
        color: var.$colorBrown;
        transform: translateX(10px);
      }
    }

    &::after {
      display: none;
    }
  }
}


/* ハンバーガーメニューボタン */
.header__hamburgerMenu {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 24px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 1000;
  position: fixed;
  top: 2%;
  right: 4%;

  @include set.mediaQuery(pc) {

    display: flex;
  }
}

.header__hamburgerMenu:hover .header__hamburgerLine {
  background-color: var.$colorBrown;
}

.header__hamburgerLine {
  width: 100%;
  height: 2px;
  background-color: var.$primaryFontColor;
  border-radius: 2px;
  transition: all 0.3s ease;
  transform-origin: center;
}

/* ハンバーガーメニューがアクティブ時の線のアニメーション */
.header__hamburgerMenu.active {
  .header__hamburgerLine {
    &:nth-child(1) {
      transform: rotate(45deg) translateY(15px);
    }

    &:nth-child(2) {
      opacity: 0;
      display: none;
    }

    &:nth-child(3) {
      transform: rotate(-45deg) translateY(-15px);
    }
  }
}

// パンくずリスト

.breadcrumb {
  margin-bottom: 16px;
  padding-left: 16px;
}

.breadcrumb__list {
  display: flex;
}

.breadcrumb__item {
  position: relative;
}

.breadcrumb__item:not(:last-child)::after {
  content: ">";
  margin: 0 8px;
  display: inline-block;
}


.hero {
  margin-bottom: 124px;

  @include set.mediaQuery(tab) {
    margin-bottom: 72px;
  }
}

.product {
  max-width: 76%;
  margin-left: auto;

  @include set.mediaQuery(pc) {
    max-width: 100%;
    padding: 0 4%;
  }
}

// swiper
.swiper {
  max-width: 100%;
  height: auto;
}

.product-swiper {
  margin-bottom: 120px;

  @include set.mediaQuery(tab) {
    margin-bottom: 72px;
  }
}

.swiper-slide {
  overflow: hidden;
  border-radius: 50px;
}

.hero .swiper-slide__img {
  width: 800px;
  height: auto;
  object-fit: cover;
  border-radius: 50px;
  aspect-ratio: 1/1;

}

.about {
  margin: 0 auto 180px;

  @include set.mediaQuery(tab) {
    margin-bottom: 120px;
  }

}

.about__caption {
  display: inline-block;
  font-size: clamp(1.4rem, 1.182rem + 1.09vw, 2rem);
  margin-bottom: 24px;

  @include set.mediaQuery(tab) {
    right: 5%;
  }
}

.product-swiper .swiper-slide__img {
  aspect-ratio: 1/1;
  border-radius: 50px;
}

.product-info {
  text-align: center;
  margin-top: 12px;
}

.product-name {
  font-size: clamp(1.6rem, 1.673rem + -0.36vw, 1.4rem);
  margin-bottom: 4px;
}

.product-caption {
  margin-bottom: 4px;
  text-align: justify;
  color: var.$paleFontColor;
  text-align: center;
  line-height: 1.5;
  font-size: clamp(1.4rem, 1.473rem + -0.36vw, 1.2rem);
}

.product-price {
  font-size: clamp(1.4rem, 1.182rem + 1.09vw, 2rem);
  color: var.$paleFontColor;
}




.case__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin-bottom: 160px;

  @include set.mediaQuery(pc) {
    flex-direction: column;
    width: 100%;
  }

  @include set.mediaQuery(tab) {
    padding: 0 4%;
    margin-bottom: 90px;
  }
}

.case {
  margin-bottom: 180px;

  @include set.mediaQuery(tab) {
    margin-bottom: 120px;
  }

}

.case__left {
  width: 90%;

  @include set.mediaQuery(pc) {
    width: 100%;
  }
}

.case__leftText {
  transform: translateX(20%);

  @include set.mediaQuery(pc) {
    transform: translateX(0);
  }
}

.case__leftTitle {
  font-size: clamp(1.8rem, 1rem + 4vw, 4rem);
  display: inline-block;
  margin-right: 16px;
}

.case__leftText {
  display: inline-block;
  font-size: clamp(1.6rem, 1.673rem + -0.36vw, 1.4rem);
  margin-bottom: 40px;
  color: var.$paleFontColor;
}


.case__leftImg {
  object-fit: cover;
  border-radius: 0 48px 197px 0;
  position: relative;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.18);
}



// .img-cover {}


.case__right {
  width: 45%;

  @include set.mediaQuery(pc) {
    width: 100%;
  }
}

.case__rightArea {
  transform: translateY(80px);
  display: flex;
  flex-direction: column;
  align-items: center;

}

.case__rightTitle {
  font-size: clamp(1.6rem, 1.091rem + 2.55vw, 3rem);
  margin-bottom: 8px;
}

.case__rightText {
  width: 60%;
  text-align: justify;
  color: var.$paleFontColor;
  font-size: clamp(1.6rem, 1.673rem + -0.36vw, 1.4rem);

  @include set.mediaQuery(pc) {
    width: 100%;
  }
}

.case__rightImg {
  width: 300px;
  aspect-ratio: 1/1;
  border-radius: 800px;
  margin-bottom: 16px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.18);
}


.case__underImgArea {
  width: 100%;
}

.case__underImg {
  width: 100%;
  height: 500px;
  background-image: url(../img/05.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  filter: brightness(0.6);
  object-fit: cover;
}


.work {
  width: 100%;
  position: relative;
  z-index: 2;
  margin-bottom: 72px;
  padding-bottom: 180px;
  padding-top: 100px;

  @include set.mediaQuery(tab) {
    margin-bottom: 72px;
  }

  @include set.mediaQuery(sp) {
    padding-bottom: 96px;
  }
}

.work__inner {
  margin: 0 auto;
  max-width: 1200px;
}

.work__bg {
  background-image: url(../img/Rectangle.svg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  max-width: 1000px;
  width: 120%;
  height: 100%;
  z-index: 1;

  @include set.mediaQuery(tab) {
    background-size: contain;
    width: 100%;
    right: 0;
  }
}

.work__contentArea {
  position: relative;
  z-index: 2; // 前面
}

.work__caption {
  margin-bottom: 48px;
  font-size: clamp(1.6rem, 1.455rem + 0.73vw, 2rem);
  text-align: justify;
}

.work__flex {
  display: flex;
  align-items: stretch;
  gap: 56px;

  @include set.mediaQuery(tab) {
    flex-direction: column;
  }
}

.work__item {
  width: 50%;
  flex-direction: column;

  &:hover {
    .work__itemImg--normal {
      opacity: 0;
    }

    .work__itemImg--hover {
      opacity: 1;
    }
  }

  @include set.mediaQuery(pc) {
    width: 100%;
    margin-bottom: 32px;
  }
}


.work__itemImgArea {
  position: relative;
  width: 100%;
  aspect-ratio: 3/4;
  overflow: hidden;
  border-radius: 50px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.18);
  margin-bottom: 32px;
  text-align: justify;

  @include set.mediaQuery(tab) {
    aspect-ratio: 4/3;
  }
}

.work__itemImg {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s ease;
  transition: 1s;
}

.work__itemImg--normal {
  opacity: 1;
  transition: 1s;

}

.work__itemImg--hover {
  opacity: 0;
  transition: 1s;

}

.work__item:not(:last-child) {
  margin-bottom: 16px;

  @include set.mediaQuery(pc) {
    margin-bottom: 32px;
  }
}


.news {
  margin: 0 auto;
  padding-bottom: 160px;
}

.news__item {
  margin-bottom: 24px;
}

.news__item:not(:last-child) {
  border-bottom: 1px solid var.$border;
  padding-bottom: 24px;
}

.news__itemHeader {
  display: flex;
  align-items: center;
  gap: 16px;

  @include set.mediaQuery(pc) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.news__itemTitle {
  font-size: clamp(1.6rem, 1.382rem + 1.09vw, 2.2rem);
  display: inline-block;

}

.news__category {
  background-color: var.$colorWhite;
  display: inline-block;
  padding: 4px 16px;
  border-radius: 50px;
}


.news__text {
  font-size: clamp(1.2rem, 1.055rem + 0.73vw, 1.6rem);
  color: var.$paleFontColor;
}


.img__bg {
  background-image: url(../img/women01.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 400px;
  border-radius: 500px 500px 0 0 / 90% 90% 0 0;
  overflow: hidden;
}

.contact {
  background-color: var.$primaryColor;
  position: relative;
  min-width: 100%;
}

.contact__bg {
  background-color: var.$colorBrown;
  padding: 160px 0;

  @include set.mediaQuery(tab) {
    padding: 72px 0;
  }
}

.contact__flex {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 80px;
  width: 100%;
  margin: 0 auto;

  @include set.mediaQuery(tab) {
    flex-direction: column;
    align-items: center;
    justify-content: start;
  }
}

.contact__left {
  width: 60%;
  text-align: center;

  @include set.mediaQuery(tab) {
    width: 100%;
  }
}

.contact__title {
  color: var.$subColor;
  font-size: clamp(2.4rem, 0.545rem + 9.27vw, 7.5rem);
  line-height: 1;
  margin-bottom: 24px;
}

.contact__text {
  color: var.$subColor;
  margin-bottom: 40px;
  text-align: left;
}

.contact__btn {
  display: inline-block;
  padding: 8px 80px;
  border-radius: 50px;
  border: 1px solid var.$primaryColor;
  color: var.$primaryColor;
  position: relative;
  cursor: pointer;
  transition: 1s;
}

.contact__btn:hover {
  background-color: rgba(var.$subColor, .7);
  transition: 1s;
  color: var.$colorBrown;
}


.contact__btn::after {
  border: 1px solid var.$primaryColor;
  content: "";
  position: absolute;
  top: 50%;
  right: -30px;
  width: 72px;
  height: 0.5px;
  transition: 1s;
}

.contact__btn:hover::after {
  right: -50px;
  transition: 1s;
}

.contact__right {
  color: var.$subColor;
}

.footer {
  text-align: center;
  background-color: var.$colorBrown;
  padding: 8px 0;
}

.footer__copyright {
  color: var.$primaryFontColor;
}

// トップへ戻るボタン
.to-top-btn {
  position: fixed;
  right: 3%;
  bottom: 4%;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
  background-color: rgba(var.$subColor, .7);
  cursor: pointer;
  transition: opacity 0.4s, box-shadow 0.3s, transform 0.3s;
  z-index: 1000;
  opacity: 0;

  @include set.mediaQuery(tab) {
    width: 40px;
    height: 40px;
    right: 4%;
  }
}

.to-top-btn::before {
  content: "";
  position: absolute;
  top: 45%;
  left: 39%;
  display: block;
  width: 20px;
  height: 20px;
  border-left: 1px solid var.$primaryFontColor;
  border-bottom: 1px solid var.$primaryFontColor;
  transform: rotate(135deg) translateY(2px);

  @include set.mediaQuery(tab) {
    width: 10px;
    height: 10px;
    left: 42%;
  }
}

.to-top-btn.show {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}

// Intersection Observer用アニメーション
.fade {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 2.5s cubic-bezier(0.77, 0, 0.175, 1), transform 2.5s cubic-bezier(0.77, 0, 0.175, 1);
  will-change: opacity, transform;

  &.in-view {
    opacity: 1;
    transform: translateY(0);
  }
}

.slideLeft {
  opacity: 0;
  transform: translateX(-100px);
  transition: opacity 1.5s cubic-bezier(0.77, 0, 0.175, 1), transform 1.5s cubic-bezier(0.77, 0, 0.175, 1);
  will-change: opacity, transform;

  &.in-view {
    opacity: 1;
    transform: translateX(0);
  }
}

.slideRight {
  opacity: 0;
  transform: translateX(100px);
  transition: opacity 1s cubic-bezier(0.77, 0, 0.175, 1), transform 1s cubic-bezier(0.77, 0, 0.175, 1);
  will-change: opacity, transform;

  &.in-view {
    opacity: 1;
    transform: translateX(0);
  }
}